Contacts/Contacts.xcodeproj/project.xcworkspace/xcuserdata/vitaliikryvoshapka.xcuserdatad/UserInterfaceState.xcuserstate
Contacts/Contacts.xcodeproj/xcuserdata/vitaliikryvoshapka.xcuserdatad/xcschemes/xcschememanagement.plist
